@using MVCbansach.Controllers

<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"> <a href="@Url.Action("Index", "Home")">Trang chủ</a> » <a href="@Url.Action("Index", "Checkout")">Thanh toán</a></div>
    <!--Breadcrumb Part End-->
    <h1>THANH TOÁN</h1>
    <div class="checkout">
        <div class="checkout-heading">THÔNG TIN ĐẶT HÀNG</div>
        <div class="checkout-content" style="display: block;">
            <div class="checkout-product">
                <table>
                    <thead>
                        <tr>
                            <td class="name">Tên sách</td>
                            <td class="model">Số lượng</td>
                            <td class="quantity">Giá gốc</td>
                            <td class="price">Giá khuyến mại</td>
                            <td class="total">Tổng</td>
                        </tr>
                    </thead>
                    <tbody> 
                        @{
                            ViewBag.Total = 0;
                        }                      
                            @foreach (MVCbansach.Models.Item item in (List<MVCbansach.Models.Item>)Session["cart"])
                            {
                                ViewBag.Total = ViewBag.Total + (item.Quantity * item.Pr.PromotionPrice);
                                <tr>
                                    <td class="name"><a href="#">@item.Pr.Name</a></td>
                                    <td class="model">@item.Quantity</td>
                                    <td class="quantity">@string.Format("{0:0,0}", item.Pr.Price)</td>
                                    <td class="price">@string.Format("{0:0,0}", item.Pr.PromotionPrice)</td>
                                    <td class="total">@string.Format("{0:0,0}", item.Quantity * item.Pr.PromotionPrice)</td>                                 
                                </tr>
                            }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="price" colspan="4"><b>Tổng:</b></td>
                            <td class="total">@string.Format("{0:0,0 ₫}", ViewBag.Total)</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="buttons">
                <div class="right">
                    <input type="button" class="button" id="button-confirm" value="Xác nhận thanh toán" onclick="location.href='@Url.Action("OrderConfirm", "Checkout")'">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Middle Part End-->