@model List<MVCbansach.ProductService.Product>
<!--Latest Product Start-->
<div class="box">
    <div class="box-heading">Mới nhất</div>
    <div class="box-content">
        <div class="box-product">
            <div class="flexslider">
                <ul class="slides">
                    <!--SACH HOT slider-->
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="slide-inner">
                                <div class="image"><a href="@Url.Action("ProductDetail", "Product", new { id = item.id}, null)"><img src="@item.Thumbnail" alt="@item.Name" /></a></div>
                                <div class="name"><a href="@Url.Action("ProductDetail", "Product", new { id = item.id}, null)">@item.Name </a></div>
                                <div class="price" style="text-align:center"><span class="price-old"> @item.Price ₫</span><span class="price-new">@item.PromotionPrice ₫</span> </div>
                                <div class="clear"></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Latest Product End-->

