@model MVCbansach.ProductService.Product
<!--Left Part-->
<div id="column-left">
    <!--The category of product in the left-->
    @{ Html.RenderAction("LeftTopHot", "Product"); }


</div>
<!--Left End-->
<!--Middle Part Start-->
<div id="content">
    <div class="breadcrumb"> <a href="@Url.Action("Index", "Home")">Trang chủ</a> &raquo; <a href="#">@Model.Name</a> </div>
    <h1>@Model.Name</h1>
    <div class="product-info">
        <div class="left">
            <div class="image"><a href="@Model.Thumbnail" title="@Model.Name" class="cloud-zoom colorbox" id='zoom1' rel="adjustX: 0, adjustY:0, tint:'#000000',tintOpacity:0.2, zoomWidth:360, position:'inside', showTitle:false"><img src="@Model.Thumbnail" title="Canon EOS 5D" alt="Canon EOS 5D" id="image" /><span id="zoom-image"><i class="zoom_bttn"></i> Phóng to</span></a></div>
        </div>
        <div class="right">
            <div class="description">
                <span>Còn lại: </span> @Model.Quantity<br />
                @if (Model.Status == true)
                {
                    ViewBag.TrangThai = "Còn hàng";
                }
                else
                {
                    ViewBag.TrangThai = "Hết hàng";
                }

                <span>Trạng thái: </span>@ViewBag.TrangThai

            </div>
            <div class="price">
                Giá: <span class="price-old">@string.Format("{0:0,0}", Model.Price)</span> <span class="price-new">@string.Format("{0:0,0 đ}", Model.PromotionPrice) </span> <br />
            </div>

            <div class="cart">
                <div>
                    <div class="qty">
                        <strong>Số lượng:</strong> <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                        <input id="qty" onblur="checknegative(this)" type="text" class="w30" name="quantity" size="2" value="1" />
                        <a class="qtyBtn plus" href="javascript:void(0);">+</a>
                        <input type="hidden" name="product_id" size="2" value="30" />
                        <div class="clear"></div>
                    </div>
                    <a id="OrderNow" class="button" href="@Url.Action("OrderNow", "Cart", new { id = (int)Model.id, quantity = "xxx"})">Thêm vào giỏ</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        // update SL
        $("#OrderNow").click(function (evt) {
            var fakedUri = $("#OrderNow").prop("href");
            var uri = fakedUri.replace("xxx", $("#qty").val());
            $("#OrderNow").prop("href", uri);

        });


        // val value in input
        function checknegative(str) {
            if (parseFloat(document.getElementById(str.id).value) < 0 || document.getElementById(str.id).value == "") {
                document.getElementById(str.id).value = "";
                document.getElementById(str.id).focus();
                alert('Vui lòng nhập số >= 1');
                return false;
            }

            var old_quantity = document.getElementById("qty").value;
            var quantity_product = document.getElementById("quantity_product").value;
            if (document.getElementById(str.id).value > quantity_product) {
                alert('Số lượng sản phẩm chỉ còn lại ' + quantity_product + ". Vui lòng nhập số lượng phù hợp!");
                document.getElementById("inputValue").value = 1;
                return false;
            }
        }
    </script>

    <!-- Description and Reviews Tab Start -->
    <div id="tabs" class="htabs"> <a href="#tab-description">Mô tả</a> </div>
    <div id="tab-description" class="tab-content">
        <p>

            @{

                
                foreach (var element in System.Xml.Linq.XElement.Parse(Model.Description).Elements())
                {
                     <p> <b>@element.Attribute("title").Value : </b>  @element.Value </p>
                    
                }
            }


            </p>

        </div>

        <script>
            $(document).ready(function () {
                $('#tabs a').tabs();
            });
        </script>
        <!-- Description and Reviews Tab Start -->
        @{ Html.RenderAction("RelatedProducts", "Product"); }
    </div>
    <!--Middle Part End-->
    @{
        ViewBag.Title = "ProductDetail";
        Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    }