@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@model MVCbansach.Models.LoginModel

<!--Left Part-->
<div id="column-left">
    <div class="box">
        <div class="box-heading">Account</div>
        <div class="box-content">
            <ul class="list-item">
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="#">Forgotten Password</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Wish List</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Transactions</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>
    </div>
</div>
<!--Left End-->
<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"> <a href="@Url.Action("Index", "Home", null)">Trang chủ</a> » <a href="@Url.Action("Login", "Account", null)">Đăng nhập</a> </div>
    <!--Breadcrumb Part End-->
    <h1>Đăng nhập tài khoản</h1>
    <div class="login-content">
        <div class="left">
            <h2>KHÁCH HÀNG MỚI</h2>
            <div class="content">
                <p><b>Đăng ký tài khoản</b></p>
                <p>Bằng việc tạo tài khoản giúp bạn mua hàng nhanh chóng và an toàn hơn, cập nhật trạng thái đặt hàng.</p>
                <a class="button" href="@Url.Action("Register", "Account", null)">Tiếp tục</a>
            </div>
        </div>
        <div class="right">
            <h2>Đăng nhập</h2>
            <p>@ViewBag.LoginFaild</p>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)     
                <div class="content">
                    <b>@Html.LabelFor(Model=>Model.Username)</b><br>
                    @Html.TextBoxFor(Model => Model.Username)
                    @Html.ValidationMessageFor(Model => Model.Username)
                    
                    <br>
                    <br>
                    <b>@Html.LabelFor(Model=>Model.Password)</b><br>
                    @Html.PasswordFor(Model => Model.Password)
                    @Html.ValidationMessageFor(Model=>Model.Password)              
                    <br>
                    <a href="#">Quên mật khẩu</a><br>
                    <br>
                    <input type="submit" class="button" value="Login">
                </div>
            }
        </div>
    </div>
</div>
<!--Middle Part End-->



