@model MVCbansach.AccountService.Account

@{
    ViewBag.Title = "Đăng ký thành viên";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@{ Html.RenderAction("LeftPartPartial", "Account"); }




<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"> <a href="@Url.Action("Index", "Home", null)">Trang chủ</a> » <a href="@Url.Action("Login", "Account")">Tài khoản</a> » <a href="@Url.Action("Register", "Account")">Đăng ký</a> </div>
    <!--Breadcrumb Part End-->
    <h1>Đăng ký tài khoản</h1>
    <h2>Thông tin cá nhân</h2>


    <!--Form register account-->
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { onsubmit = "return checkForm()" }))
    {
        @Html.AntiForgeryToken() // chống nhập form nhiều lần
        @Html.ValidationSummary(true) 
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td><span class="required">*</span> Họ tên:</td>
                        <td>@Html.TextBoxFor(m => m.Username, new { @class = "large-field", @id = "username" })</td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> E-Mail:</td>
                        <td>@Html.TextBoxFor(m => m.Email, new { @class = "large-field", @id = "email",  @onkeyup = "return checkMail()" })</td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Số điện thoại:</td>
                        <td>@Html.TextBoxFor(m => m.Phone, new { @class = "large-field", @id = "phone" })</td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Địa chỉ:</td>
                        <td>@Html.TextBoxFor(m => m.Address, new { @class = "large-field", @id = "address" })</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Mật khẩu</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td><span class="required">*</span> Mật khẩu:</td>
                        <td>@Html.TextBoxFor(m => m.Password, new { @class = "large-field", @id = "pass1" })</td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Xác nhận mật khẩu:</td>
                        <td>@Html.TextBoxFor(m => m.Password, new { @class = "large-field", @id = "pass2", @onkeyup = "return confirmPass()" })</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="buttons">
            <div class="left">
                <input type="submit" onsubmit="return checkForm()" class="button" value="Đăng ký">
            </div>
        </div>
    }

</div>
<!--Middle Part End-->
<script>
    function confirmPass() {
        var pass1 = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;
        if (pass1 == pass2) {
            document.getElementById("pass1").style.borderColor = "#00ff00";
            document.getElementById("pass2").style.borderColor = "#00ff00";
        } else {
            document.getElementById("pass1").style.borderColor = "#ff0000";
            document.getElementById("pass2").style.borderColor = "#ff0000";
        }
    }

    function checkForm()
    {
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var phone = document.getElementById("phone").value;
        var address = document.getElementById("address").value;
        var pass1 = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;
        if (username == "") {
            document.getElementById("username").focus();
            alert("Vui lòng nhập tên tài khoản"); return false;
        }
        if (email == "") {
            document.getElementById("email").focus();
            alert("Vui lòng nhập địa chỉ email"); return false;
        }
        if (phone == "") {
            document.getElementById("phone").focus();
            alert("Vui lòng nhập số điện thoại"); return false;
        }
        if (address == "") {
            document.getElementById("address").focus();
            alert("Vui lòng nhập địa chỉ"); return false;
        }
        if (pass1 == "") {
            document.getElementById("pass1").focus();
            alert("Vui lòng nhập mật khẩu"); return false;
        }
        if (pass2 == "") {
            document.getElementById("pass2").focus();
            alert("Vui lòng xác nhận mật khẩu"); return false;
        }

        if (pass1 != pass2) { alert("Nhập lại mật khẩu không chính xác"); return false; }
        else return true;
    }

</script>
<script>
    function validateEmail(email) {
        var re = /^[_a-z0-9-A-Z-]+(\.[_a-z0-9-A-Z-]+)@@[a-z0-9-A-Z-]+(\.[a-z0-9-A-Z-]+)*(\.[a-z]{2,4})$/;
        return re.test(email);
    }

</script>