@using MVCbansach.Controllers
<!--Mini Shopping Cart Start-->
<section id="cart">
    <div class="heading">
        <h4><img width="32" height="32" alt="" src="~/Content/image/cart-bg.png"></h4>
        @if (Session["cart"] == null)
        {
            <a><span id="cart-total">0 sản phẩm - 0 ₫</span></a>
        }
        else
        {
            if (Session["number"] == null)
            {
                Session["number"]=null;
                Session["total"]=null;
            }
            <a><span id="cart-total">@Session["number"] sản phẩm - @Session["total"] ₫</span></a>

        }
        
    </div>
    <div class="content">
        @if (Session["cart"] == null)
        {
            <span>Chưa có sản phẩm nào</span>
        }
        else
        { 
            <div class="mini-cart-info">
                <table>
                        @{ 
                            decimal total = 0;
                            Session["total"] = 0;
                            Session["number"] = 0;
                        }
                        @foreach (MVCbansach.Models.Item item in (List<MVCbansach.Models.Item>)Session["cart"])
                        {
                            total = total + item.Quantity * (decimal)item.Pr.PromotionPrice;
                            Session["total"] =+ total;
                            Session["number"] = (int)Session["number"] +1;
                            <tr>
                                <td class="image"><a href="product.html"><img src="@item.Pr.MoreImages" alt="iPhone 4s" title="iPhone 4s" height="50" width="50" /></a></td>
                                <td class="name"><a href="product.html">@item.Pr.Name</a></td>
                                <td class="quantity">x&nbsp;@item.Quantity</td>
                                <td class="total">@(item.Pr.PromotionPrice * item.Quantity) ₫</td>
                                <td class="remove"><a href="@Url.Action("Delete", "Cart", new { id = item.Pr.id })"><img src="~/Content/image/remove-small.png" alt="Xóa" title="Xóa" /></a></td>
                            </tr>
                        }           
                </table>
            </div>
            <div class="mini-cart-total">
                <table>
                    <tr>
                        <td class="right"><b>Thành tiền:</b></td>
                        <td class="right">@total ₫</td>
                    </tr>
                </table>
            </div>
        }
        <div class="checkout">@Html.ActionLink("Xem giỏ hàng", "Index", "Cart", new { @class="button" })&nbsp; <a class="button" href="checkout.html">Thanh toán</a></div>
    </div>
</section>
<!--Mini Shopping Cart End-->
