@using MVCbansach.Controllers
<script src="~/Content/js/jquery-1.7.1.min.js"></script>
<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb">
        <a href="@Url.Action("Index", "Home", null)">Home</a> »
        <a href="@Url.Action("Index", "Cart", null)">Giỏ hàng</a>
    </div>
    <!--Breadcrumb Part End-->
    <h1>Giỏ hàng của bạn</h1>
    @if (Session["SuccessMessage"] != null)
    {
        <p class="success" style="text-align:center">@Session["SuccessMessage"] </p>
        Session["SuccessMessage"] = null;
    }
    <div class="cart-info">
        <table>
            <thead>
                <tr>
                    <td class="image">Bìa sách</td>
                    <td class="name">Tên sách</td>
                    <td class="model">Số lượng</td>
                    <td class="quantity">Gía gốc</td>
                    <td class="price">Gía khuyến mãi</td>
                    <td class="total">Tổng</td>
                </tr>
            </thead>
            <tbody>
                @if (Session["cart"] == null)
                {
                    <tr>
                        <td>Chưa có sản phẩm nào</td>
                    </tr>
                }
                else
                {
                    ViewBag.Tong = 0;
                    foreach (MVCbansach.Models.Item item in (List<MVCbansach.Models.Item>)Session["cart"])
                    {
                        ViewBag.Tong = ViewBag.Tong + (item.Pr.PromotionPrice * item.Quantity);
                        <tr>
                            <td class="image">
                                <a href="Product/ProductDetail/@item.Pr.id"><img src="@item.Pr.Thumbnail" alt="@item.Pr.Name" height="50" width="50" /></a>
                                <input type="hidden" id="id_product" value="@item.Pr.id" />
                                <input type="hidden" id="quantity_product" value="@item.Pr.Quantity" />

                            </td>
                            <td class="name"><a href="Product/ProductDetail/@item.Pr.id">@item.Pr.Name</a></td>
                            <td class="quantity">
                                <input onblur="checknegative(this)" type="number" min="0" size="1" value="@item.Quantity" id="inputValue" name="inputValue" class="w30">
                                &nbsp;
                                <a id="quantityUpdate" href="@Url.Action("UpdateQuantity", "Cart", new { ProId = (int)item.Pr.id, quantity = "xxx"})"><img title="Cập nhật" alt="Cập nhật" src="~/Content/image/update.png"></a>
                                <a href="@Url.Action("Delete", "Cart", new { id = item.Pr.id })"><img title="Xóa" alt="Xóa" src="~/Content/image/remove.png" onclick="location.href = '@Url.Action("Delete", "Cart", new { id = item.Pr.id })'"></a>
                            </td>
                            <td class="model">@string.Format("{0:0,0}", item.Pr.Price)</td>
                            <td class="price">@string.Format("{0:0,0}", item.Pr.PromotionPrice)</td>
                            <td class="total">@string.Format("{0:0,0}", item.Pr.PromotionPrice * item.Quantity)</td>
                        </tr>                                           
                    }
                }
            </tbody>
        </table>
    </div>



    <div class="cart-total">
        <table id="total">
            <tbody>
                <tr>
                    <td class="right"><b>Tổng tiền: </b></td>
                </tr>
                <tr>
                    <td class="right">@string.Format("{0:0,0 vnđ}", ViewBag.Tong)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <div class="right"><a class="button" href="@Url.Action("Index", "Checkout")">Thanh Toán</a></div>
        <div class="center"><a class="button" href="@Url.Action("AllProduct","Product")">Tiếp tục mua sắm</a></div>
    </div>
</div>
<!--Middle Part End-->

<script type="text/javascript">

    // update SL
    $("#quantityUpdate").click(function (evt) {
        var fakedUri = $("#quantityUpdate").prop("href");
        var uri = fakedUri.replace("xxx", $("#inputValue").val());
        $("#quantityUpdate").prop("href", uri);

    });


    // val value in input
    function checknegative(str) {
        if (parseFloat(document.getElementById(str.id).value) < 0 || document.getElementById(str.id).value == "") {
            document.getElementById(str.id).value = "";
            document.getElementById(str.id).focus();
            alert('Vui lòng nhập số >= 1');
            return false;
        }

        var old_quantity = document.getElementById("inputValue").value;
        alert(old_quantity);
        var quantity_product = document.getElementById("quantity_product").value;
        if (old_quantity> quantity_product) {
            alert('Số lượng sản phẩm chỉ còn lại ' + quantity_product + ". Vui lòng nhập số lượng phù hợp!");
            document.getElementById("inputValue").value = 1;
            return false;
        }
    }
</script>